@charset "UTF-8";

#error {
	color: red;
	font-weight: bold;
}

#buttons {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  margin-top: 15px;
  font-weight: 5px;
  font-size: 22px;
}

#buttons:hover {
  color: #fff;
  background: #000;
}

#result {
	font-size: 40px;
	font-weight: bold;
	color:  red;
}

.explain {
	font-size: 20px;
}

body {
	 text-align: center;
}

